

<h1>About</h1>
<p>This app was built as part of the One Month Rails program by <%= link_to "Dean Dowd", "http://twitter.com/deand" %>. The One Month Rails program is taught by Mattan Griffel.
</p>

